.leaflet-control-container {
    .ext-datamaps-control-group {
        display: flex;
    }

    .ext-datamaps-control-primary {
        background: @color-primary;

        > a {
            color: #fff;
        }
    }

    .ext-datamaps-control > a {
        &[ data-style='labelled' ] {
            width: auto;
        }

        > span {
            display: block;
            width: 30px;
            height: 30px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: 20px;
        }
    }

    select.ext-datamaps-control {
        padding: 3px 0.5em;
        border: 0;
        background: #fff;
        opacity: 0.9;
    }
    .ext-datamaps-control-legend-toggle {
        display: none;

        @media screen and ( max-width: @width-breakpoint-desktop-wide ) {
            display: block;
        }

        > a {
            padding-left: 0.5em;
        }

        > a > span {
            display: inline-block;
            vertical-align: middle;
        }
    }

    /* Extra specificity is needed to silence Leaflet's built-in margins provided by anchors */
    .ext-datamaps-control-coords.leaflet-control {
        padding: 0 5px;
        margin: 0;
        margin-bottom: 0;
        margin-left: 0;
        background: #fffc;
        color: #333;
        font-size: 1.6em;
        line-height: 1.4;
    }
}

.ext-datamaps-container[ data-is-legend-visible='true' ] .leaflet-control-container .ext-datamaps-control-legend-toggle a {
    color: @color-primary;
}
