.leaflet-control-container {
    > .leaflet-top.leaflet-left {
        bottom: 10%;
        display: flex;
        max-width: ~'calc( 100% - 84px )'; // Reserve space for top right button
        box-sizing: border-box;
        padding-right: 10px;
    }

    .ext-datamaps-control-group {
        display: flex;
    }
}
