.ext-datamaps-container-legend {
    @media screen and ( max-width: @width-breakpoint-desktop-wide ) {
        position: absolute;
        z-index: 4000;
        display: block;
        width: unset;
        border: 1px solid #ccc;
        border-radius: 4px;
        margin: 0 6px 6px;
        background: #fff;
        box-shadow: 0 0 6px #0005;
        inset: 50px 0 0 0;
        transform: translate( -45%, -53% ) scale( 0 );
        transition: transform 120ms ease-in-out;

        &.oo-ui-widget-disabled + .ext-datamaps-container-leaflet .ext-datamaps-control-legend-toggle {
            display: none;
        }
    }

    @media screen and ( min-width: @width-breakpoint-tablet ) {
        width: 25em;
    }

    &.oo-ui-widget-disabled {
        display: none;
    }

    &,
    > .oo-ui-layout,
    > .oo-ui-layout > .oo-ui-menuLayout-content,
    > .oo-ui-layout > .oo-ui-menuLayout-content > .oo-ui-stackLayout {
        display: flex;
        flex-direction: column;
    }

    > .oo-ui-layout,
    > .oo-ui-layout > .oo-ui-menuLayout-content {
        flex-grow: 1;
    }

    .oo-ui-tabSelectWidget {
        padding: 4px 0;
    }

    .oo-ui-tabOptionWidget.oo-ui-optionWidget {
        border-width: 1px;
        border-radius: 6px;
        margin-top: 3px;

        .oo-ui-labelElement-label {
            padding: 5px 5px 4px;
        }
    }

    .oo-ui-panelLayout-scrollable {
        overflow-x: hidden;
    }

    .oo-ui-indexLayout-stackLayout > .oo-ui-tabPanelLayout {
        padding: 9px 16px 16px;
    }

    .oo-ui-buttonGroupWidget {
        z-index: 2;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .oo-ui-checkboxInputWidget {
        line-height: 18px;
    }

    .oo-ui-labelElement-label {
        vertical-align: middle;
    }
}

@media screen and ( max-width: @width-breakpoint-desktop-wide ) {
    .ext-datamaps-container[ data-is-legend-visible='true' ] {
        .ext-datamaps-container-legend {
            transform: none;
        }
    }
}
