.datamap-overlay-status {
    position: absolute;
    z-index: 5000;
    flex-direction: column;
    font-size: 2.3em;
    inset: 0 0 0 0;

    &,
    > div {
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;
    }

    > div {
        width: 100%;
        backdrop-filter: blur( 5px );
        background: #e1e4ead4;
        color: #000;
        text-align: center;
    }

    &.error > div {
        background: #ddcfcfd4;
    }

    .oo-ui-progressBarWidget:not( .oo-ui-pendingElement-pending ) {
        position: absolute;
        z-index: 2;
        top: 0;
        right: 0;
        left: 0;
        min-width: 10em;
        height: 5px;
        border: 0;
        background-color: transparent;
        box-shadow: none;
    }
}

/* Based on Wikimedia Deutschland's https://github.com/wmde/wikit, which is licenced under BSD 3-Clause Licence */
.ext-datamaps-bouncing-dots {
    width: 6.5em;
    margin: 100% auto 0;
    white-space: nowrap;

    div,
    &::before,
    &::after {
        content: '';
        width: 2em;
        height: 2em;
        display: inline-block;
        background-color: #36c;
        border-radius: 100%;
        animation: bounce-delay 1600ms infinite ease-in-out both;
        animation-delay: -160ms;
    }

    &::before {
        margin-inline-end: 0.25em;
        animation-delay: -330ms;
    }

    &::after {
        margin-inline-start: 0.25em;
        animation-delay: 0;
    }
}

@keyframes bounce-delay {
    0%,
    50%,
    100% {
        transform: scale( 0.625 );
    }

    20% {
        opacity: 0.87;
        transform: scale( 1 );
    }
}
