.datamap-container-legend {
    width: 21em;

    .datamap-legend-label {
        font-weight: 700;
        font-size: 1.2em;
    }

    .datamap-legend-circle {
        border-style: solid;
        border-radius: 50%;
        display: inline-block;
        vertical-align: middle;
        margin-right: 6px;
        box-shadow: 0 0 1px 1px #0002;
    }

    .oo-ui-buttonGroupWidget {
        display: block;
    }
}