.datamap-container-legend {
    .datamap-legend-label {
        font-weight: 700;
        font-size: 1.2em;
    }

    .datamap-legend-circle {
        border-style: solid;
        border-radius: 50%;
        display: inline-block;
        vertical-align: middle;
        margin-right: 6px;
        box-shadow: 0 0 1px 1px #0002;
    }

    .oo-ui-fieldLayout-header > img + .datamap-legend-circle {
        padding-left: 6px;
    }

    .oo-ui-buttonGroupWidget {
        display: block;
    }

    .oo-ui-checkboxInputWidget {
        line-height: 18px;
    }

    .oo-ui-labelElement-label {
        vertical-align: middle;
    }
}