.datamap-container {
    box-shadow: 0 0 8px #0006;
    
    .datamap-container-top {
        padding: 3px 16px;
        border-bottom: 1px solid #a2a9b1;

        &:empty {
            display: none;
        }

        > .oo-ui-labelWidget {
            font-weight: 600;
        }
    }

    .datamap-container-content {
        display: flex;
        flex-wrap: wrap;
        padding: 1px;

        .oo-ui-panelLayout {
            flex: 1 1;
        }

        .datamap-container-legend {
            width: 22em;
            max-height: 750px;
            box-sizing: border-box;
            overflow-y: auto;
        }

        .datamap-holder {
            height: 750px;
        }

        @media screen and (max-width: 1320px) {
            display: block;

            .datamap-container-legend {
                width: auto;
                max-height: 300px;
            }
        }
    }
}