.datamap-container {
    .datamap-popup-coordinates {
        color: #444;
        margin-bottom: 0.3em;
    }

    .datamap-popup-image {
        display: block;
        width: 240px;
        margin: 0 -14px 0 -11px;

        + .datamap-popup-tools:empty {
            margin: 0 0 1px;
        }
    }

    .datamap-popup-tools {
        list-style: none;
        margin: 9px 0 7px;
        display: flex;
        flex-wrap: wrap;
        gap: 1em;

        li {
            margin-bottom: 0;
        }
    }
}