.datamap-container {
    > .oo-ui-labelWidget {
        font-weight: 600;
    }

    .datamap-layout {
        display: flex;
        flex-wrap: wrap;
        gap: 12px;

        .oo-ui-panelLayout {
            flex: 1 1;
        }

        .datamap-holder {
            height: 750px;
        }

        .datamap-legend-label {
            font-weight: 700;
            font-size: 1.2em;
        }
    }
}