.datamap-container {
    .datamap-container-top {
        padding: 3px 16px;
        border-bottom: 1px solid #a2a9b1;

        > .oo-ui-labelWidget {
            font-weight: 600;
        }
    }

    .datamap-container-content {
        display: flex;
        flex-wrap: wrap;
        gap: 12px;

        .datamap-container-legend {
            width: 300px;

            .datamap-legend-label {
                font-weight: 700;
                font-size: 1.2em;
            }

            .datamap-legend-circle-placeholder {
                border-style: solid;
                border-radius: 50%;
                display: inline-block;
                vertical-align: middle;
                margin-right: 6px;
                box-shadow: 0 0 1px 1px #0002;
            }

            .oo-ui-buttonGroupWidget {
                display: block;
            }
        }

        .oo-ui-panelLayout {
            flex: 1 1;
        }

        .datamap-holder {
            height: 750px;
        }
    }
}