.datamap-container {
    .datamap-control > a > span {
        width: 30px;
        height: 30px;
        display: block;
        background-position: center;
        background-size: 20px;
        background-repeat: no-repeat;
    }
    
    .datamap-control-legend-toggle {
        display: none;
    }

    .datamap-control.datamap-control-coords {
        background: #fffc;
        margin: 0;
        padding: 0 5px;
        color: #333;
        line-height: 1.4;
        font-size: 1.6em;
        margin-left: 0;
        margin-bottom: 0;
    }

    .datamap-control-backgrounds {
        opacity: 0.9;
        padding: 3px 0.5em;
        background: #fff;
    }

    .datamap-control-viewcontrols {
        margin-top: 5px;
    }
}