.datamap-control-search.leaflet-control {
    display: flex;
    z-index: 810;

    .oo-ui-textInputWidget {
        width: 25em;
        
        .oo-ui-inputWidget-input {
            height: 100%;
            padding-left: 2.7em;
        }
    }

    .oo-ui-floatableElement-floatable {
        max-height: 350px !important;
        overflow-y: scroll;
    }

    .oo-ui-decoratedOptionWidget {
        padding: 5px 8px;
        
        .oo-ui-labelElement-label img {
            margin-right: 4px;
        }
    }
}