.datamap-collapsible {
    padding: 12px 16px;

    > .oo-ui-labelWidget + .oo-ui-indicatorWidget {
        float: right;
    }

    > input[type=checkbox] {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        width: 100%;
        appearance: none;
        height: 2.9em;

        &:checked ~ .oo-ui-panelLayout {
            display: block;
        }
    }

    > .oo-ui-panelLayout {
        display: none;
        margin-top: 8px;
    }
}