.datamap-container-groups {
    > .oo-ui-labelElement.oo-ui-fieldLayout > .oo-ui-fieldLayout-body {
        display: flex;
        align-items: center;

        > .oo-ui-fieldLayout-field {
            order: 2;
            width: 20px;
        }
        > .oo-ui-fieldLayout-header {
            order: 1;
            flex-grow: 1;
            padding-left: 0;
            padding-right: 6px;
        }
    }
}