.datamap-is-ve-active .datamap-container-groups {
    .oo-ui-fieldLayout > .oo-ui-fieldLayout-body > .oo-ui-fieldLayout-header {
        display: flex;
        align-items: center;

        > .oo-ui-textInputWidget {
            flex-grow: 1;
            .oo-ui-inputWidget-input {
                padding: 0 6px;
                height: 2em;
            }
        }
    }

    .oo-ui-fieldLayout-header {
        & > .oo-ui-popupButtonWidget {
            float: right;
        }
        .oo-ui-buttonElement-framed.oo-ui-iconElement > .oo-ui-buttonElement-button {
            padding: 1em 1em 0;
            min-height: 2em;
    
            .oo-ui-iconElement-icon {
                min-width: 16px;
                width: 16px;
                margin-left: -8px;
            }
        }
    }
}