.datamap-ve-popup .oo-ui-popupWidget-body {
    .oo-ui-inputWidget {
        max-width: none;
    }

    .oo-ui-buttonWidget,
    .oo-ui-buttonElement-button {
        width: 100%;
    }

    .oo-ui-buttonWidget.oo-ui-flaggedElement-destructive {
        margin-top: 0.6em;
        margin-bottom: 0.3em;
    }

    .oo-ui-radioOptionWidget {
        padding: 2px 0;
    }
}