.datamap-container {
    .datamap-popup-subtitle {
        color: #666;
        font-size: 96%;
        display: block;
    }

    .datamap-popup-coordinates {
        color: #454545;
        margin-bottom: 0.5em;
    }

    .datamap-popup-image {
        display: block;
        width: 240px;
        margin: 2px -14px 0 -11px;
    }

    .datamap-popup-tools {
        list-style: none;
        margin: 7px 0;
        display: flex;
        flex-wrap: wrap;
        gap: 1em;

        li {
            margin-bottom: 0;
        }
    }
}