.datamap-ve-info-bar {
    text-align: center;
    background: #ac205d;
    font-weight: 600;
    color: #fefefe;
    padding: 0.2em;

    &.datamap-ve-beta-notice {
        font-size: 110%;
        padding: 0.5em;
    }

    &.warning {
        background: #d0aa16;
        color: #222;
    }
}