.datamap-ve-ic {
    position: absolute;
    display: flex;
    align-items: center;
    background: #fff;
    box-shadow: 0 0 4px 0 #0008;
    box-sizing: border-box;
    border-radius: 2px;

    .oo-ui-buttonElement {
        border-right: 1px solid #0004;
    }

    .oo-ui-buttonElement-frameless.oo-ui-iconElement:first-child {
        margin-left: 0;
    }

    .datamap-ve-ic-coords {
        margin: 0.25em 0.3em 0.25em 0.4em;
        font-size: 15px;
    }
}